body {
    font-family: 'Open Sans', sans-serif;    
    font-size: 14px;
    max-width: 700px;
    width: 90%;
    margin: 40px auto;
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 4px;
}

.contacts {
    text-align: start;
}

.section-title {
    font-weight: bold;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date {
    font-style: italic;
    flex: 1;
}

.content-box {
    flex: 3;
}

.subtitle {
    font-weight: bold;
    margin-bottom: 4px;
}

.summary, .content {
    text-align: justify;
}
